body{
 
}
.bannerImage{
	text-align:center;
}
.bannerImage img{
	width: 80%;
    height: 300px;
    border-radius: 5px;
    
 }
 .carouselChat{
 	width: 70%;
 	margin: 0 auto;
 	border: solid 1px #cccccc;
    padding: 10px;
    border-radius: 4px;
 }
 .carouselChat img{
 	    margin: 0 auto;
 }
.categoryGroup{
	width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 18px;
    border-radius: 9px;
    border: solid 1px #ccc;
    overflow-x:hidden;
    max-height: 140px;
    overflow-y: hidden;

}
.categoryGroup:hover{
	overflow-x: scroll;
}
.categoryGroup .subCategoryGroup{
	    width: 790px;
	    margin-top: 0px;
}

#content{
	background-color: #F0F0F0;
}
.jumbotron{
	background-color: #B3D334;
}
.menuCategory{
	width: 150px;
    height: 100px;
    font-size: 130%;
    background-color: #B3D334;
    margin: 2px;
}
.menuCategory:hover{
	background-color: #9E9A9A;
}
.menuCategory.active{
	background-color: #9E9A9A;
}

/*Start top menu*/
.nav-tabs.nav-justified{
	font-size: 20px;
}
.nav-tabs.nav-justified>.active>a{
	background-color: #F0F0F0;
}
/*End top menu*/

.space{
	margin-top: 20px;
	margin-bottom: 10px;
}
.standardChoice{
	margin-top: 10px;
	
}
.topBarmenu.logo{
	width: 200px;
	float: left;
}

@media (max-width: 768px) {
	.topBarmenu.logo{
	        width: 150px;
		    float: none;
		    margin: 0 auto;
	}
}
.topBarmenu.topnav .nav>li{
	bottom: -10px;
}