body{
 
}
body.contactUsView{
	background-color: #4F5C65;
}
.bannerImage{
	text-align:center;
	overflow-x: hidden;
}
.bannerImage img{
	width: 80%;
    height: 300px;
    border-radius: 5px;
    display: none;
    
 }
 .bannerSelection{
 	    width: 785px;
	    height: 55px;
	    position: absolute;
	    overflow-x: hidden;
	    background-color: #fff;
	    opacity: 0.9;
	    text-align: center;
	    text-align: center;
	    padding-top: 6px;
	    font-size: 30px;
	    border-radius: 3px;

 }

 blockquote{
 	    padding: 10px 20px;
	    margin: 0 0 20px;
	    font-size: 16.5px;
	    border-left: 5px solid #B3D043;
	    background-color: #EDEDED;
	    opacity: 0.7;
	    border-top-right-radius: 5px;
	    border-bottom-right-radius: 5px;
 }
 #buttonSend{
 	text-align: center;
 }

 .carouselChat{
 	width: 80%;
 	margin: 0 auto;
 	border: solid 1px #cccccc;
    border-radius: 4px;
    visibility: hidden;
 	height: 0px;
 	margin-bottom: 30px;
 }

 .carouselChat img{
 	    margin: 0 auto;
 	    width: 200px;
 	    height: 150px;
 	    margin-top: 10px;
 	    margin-bottom: 10px;
 	    
 }

  .carouselveContact{
 	width: 80%;
 	margin: 0 auto;
 	border: solid 1px #cccccc;
    border-radius: 4px;
    visibility: hidden;
 	height: 0px;
 	margin-bottom: 40px;
 }

 .carouselveContact img{
 	    margin: 0 auto;
 	    width: 200px;
 	    height: 150px;
 	    margin-top: 10px;
 	    margin-bottom: 10px;
 	    
 }
.categoryGroup{
	width: 95%;
    margin: 0 auto;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 9px;
    border: solid 1px #ccc;
    overflow-x:hidden;
    max-height: 140px;
    overflow-y: hidden;

}
.categoryGroup:hover{
	overflow-x: hidden;
}
.categoryGroup .subCategoryGroup{
	    width: 786px;
	    margin-top: 0px;
	    margin: 0 auto;
}
.categoryGroup .subCategoryGroup::before{
	.glyphicon.glyphicon-chevron-left();
}

#content{
	/****with video***/
	background-color: transparent;
	/****normal***/
	/*background: #c5c3c3; 
	background: -moz-linear-gradient(top,  #c5c3c3 0%, #9c9a9a 0%, #b5b3b3 0%, #d2cece 19%, #e8e4e4 60%, #f7f7f7 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c5c3c3), color-stop(0%,#9c9a9a), color-stop(0%,#b5b3b3), color-stop(19%,#d2cece), color-stop(60%,#e8e4e4), color-stop(100%,#f7f7f7)); 
	background: -webkit-linear-gradient(top,  #c5c3c3 0%,#9c9a9a 0%,#b5b3b3 0%,#d2cece 19%,#e8e4e4 60%,#f7f7f7 100%); 
	background: -o-linear-gradient(top,  #c5c3c3 0%,#9c9a9a 0%,#b5b3b3 0%,#d2cece 19%,#e8e4e4 60%,#f7f7f7 100%); 
	background: -ms-linear-gradient(top,  #c5c3c3 0%,#9c9a9a 0%,#b5b3b3 0%,#d2cece 19%,#e8e4e4 60%,#f7f7f7 100%); 
	background: linear-gradient(to bottom,  #c5c3c3 0%,#9c9a9a 0%,#b5b3b3 0%,#d2cece 19%,#e8e4e4 60%,#f7f7f7 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5c3c3', endColorstr='#f7f7f7',GradientType=0 ); */
	padding-bottom: 15px;
}
.container-fluid{
	width: 861px;
}
.description{
	width: 30%;
}
.description img{
	margin-bottom: 7px;
}

.footer{
	position: relative;
    bottom: 0px;
    background-color: #323F48;
    height: 50px;
    margin-top: 20px;
    text-align: center;
    padding-top: 15px;
    color: #fff;
    border-radius: 4px;
}
.footer.thankPage{
	position: fixed;
    bottom: 0px;
    background-color: #323F48;
    height: 50px;
    margin-top: 20px;
    text-align: center;
    padding-top: 15px;
    color: #fff;
    border-radius: 4px;
    width: 74%;
}

form .information{
	line-height: 13px;
    margin-bottom: 15px;
}
form .information span{
	color: #333;
	font-size: 11px;
}
form .information #terms1{
	color: #337ab7;
	cursor: pointer;
}
form .information #terms2{
	color: #337ab7;
	cursor: pointer;
}

.form-group label{
	color: #fff;
}

.jumbotron{
	background-color: #B3D334;
}
.gallery-cell.is-selected img{
	border: solid 3px #61F4F8;
}
.logo{
	padding-top: 0px;
	margin-right: 50px;
}
.logo img{
	width: 50px;
    height: 50px;
}	

.bottomButtons{
	width: 200px;
	text-align:center;
	margin: 0 auto;
	margin-bottom: 10px;
}

.menuBottom.btn{
	-webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 12px #666666;
  -moz-box-shadow: 2px 2px 12px #666666;
  box-shadow: 2px 2px 12px #666666;
  font-family: Arial;
  color: #323F48;
  font-size: 20px;
  background: #ffffff;
  /*padding: 20px 20px 20px 20px;*/	
  text-decoration: none;
  
}
.menuBottom.btn:hover{
	background: #efefef;
  text-decoration: none;

}

.menuCategory{
	width: 150px;
    height: 53px;
    font-size: 130%;
    margin: 2px;
}

.menuCategory.btn{
	 background: #b9ce00;
  background-image: -webkit-linear-gradient(top, #b9ce00, #C6D600);
  background-image: -moz-linear-gradient(top, #b9ce00, #C6D600);
  background-image: -ms-linear-gradient(top, #b9ce00, #C6D600);
  background-image: -o-linear-gradient(top, #b9ce00, #C6D600);
  background-image: linear-gradient(to bottom, #b9ce00, #C6D600);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  text-shadow: 2px 2px 8px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.menuCategory.btn.active{
	background: #c6c6c6;
  background-image: -webkit-linear-gradient(top, #c6c6c6, #D0D0D0);
  background-image: -moz-linear-gradient(top, #c6c6c6, #D0D0D0);
  background-image: -ms-linear-gradient(top, #c6c6c6, #D0D0D0);
  background-image: -o-linear-gradient(top, #c6c6c6, #D0D0D0);
  background-image: linear-gradient(to bottom, #c6c6c6, #D0D0D0);
  text-decoration: none;
}

.menuCategory.btn:hover{
	background: #c6c6c6;
  background-image: -webkit-linear-gradient(top, #c6c6c6, #D0D0D0);
  background-image: -moz-linear-gradient(top, #c6c6c6, #D0D0D0);
  background-image: -ms-linear-gradient(top, #c6c6c6, #D0D0D0);
  background-image: -o-linear-gradient(top, #c6c6c6, #D0D0D0);
  background-image: linear-gradient(to bottom, #c6c6c6, #D0D0D0);
  text-decoration: none;
}


.modal-footer{
	text-align: center;
}
.modal-body form .sales{
	color: #474747;
}


/*Start top menu*/
.nav-tabs.nav-justified{
	font-size: 20px;
}
.nav-tabs.nav-justified>.active>a{
	background-color: #F0F0F0;
}
/*End top menu*/


.slick-initialized .slick-slide{
	margin-top: 20px;
}
.space{
	margin-top: 20px;
	margin-bottom: 10px;
}
.standardChoice{
	margin-top: 10px;
	
}

.sumarytemplate{
	width: 200px;
	display: inline-block;
	margin: 6px;
}

#teaser-video{
	height: 470px;
	display: block;
    width: 833px;
    margin: auto;
    border-radius: 12px;
}
.termConditions{
	width: 50%;
	margin: 0 auto;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #fff;
}
.termConditions a{
	
	color: #fff;
	text-decoration: underline;
}
#termConditionCheck{
	margin-top: 10px;
	margin-right: 6px;
}
#thankyou{
	    margin: 0 0 10px;
	    font-size: 40px;
	    text-align: center;
	    margin-top: 15%;
}
.thanksImage{
	    margin-left: 30%;
	    width: 400px;
	    margin-top: 80px;
}
.thanksImage img{
		vertical-align: middle;
	    height: 250px;
    	width: 360px;
}
.topBarmenu{
	margin-top: 20px;
	background-color: #323F48;
}
.topNavOptions li a{
	color: #fff !important;
}
.topNavOptions li.active a{
	color: #555 !important;
}
.indexblocks{
	
	padding: 10px;
	color: #fff;
}
.indexblocks div{
	display: inline-block;
}
#veChatView{
	/*background-image: url(images/index/vePromptBackground.jpg);*/
	background-color: #1B7C82;
}
#veContactView{
	/*background-image: url(images/index/veContactBackground.jpg);*/
	background-color: #187385;
}
#contactUsView{
	/*background-image: url(images/index/veIndexBackground.jpg);*/
	background-color: #4F5C65;
}
#veindexView{
	/*background-image: url(images/index/veIndexBackground.jpg);*/
	background-color: #4F5C65;
}


@media (max-width: 768px) {
	body{
		background: transparent;
	}
	.bannerImage img{
		display: block;
		margin: 0 auto;
		height: 200px;
	}
	 .bannerSelection{
 	    display: none;

 }
	blockquote{
		font-size: 10px;
	}
   
	.categoryGroup{
	   overflow-x: auto;
	}	
	.categoryGroup .subCategoryGroup{
		width: 420px;

	}
	.carouselChat img{
		width: 100px;
		height: 75px;
	}
	.container-fluid{
	width: 100%;
	}
	#content{
	background-color: #091D2A;
	}
	.description{
	width: 100%;
	}
	.descriptionImage img{
		width: 100%;
	}

	.menuCategory{
		width: 75px;
	    height: 50px;
	    background-color: #B3D334;
	    margin: 2px;
	}
	.menuCategory.btn{
		padding: 5px;	
		font-size: 12px;
	}
	
	.slick-initialized .slick-slide{
	margin-top: 8px;
	}
	#teaser-video{
		height: 195px;
		display: none;
	}
	
}




/******ANIMATION******/
@keyframes changeColor{
	from {background-color: #B3D334;color: #fff;}
    to {background-color: #fff; color: #091D2A;}
}