html,body{
 height: 100%;
}
body.contactUsView{
	background-color: #4F5C65;
}
.bannerImage{
	text-align:center;
	overflow-x: hidden;
}
.bannerImage img.banner{
	width: 80%;
    height: 300px;
    border-radius: 5px;
    display: none;
    
 }
 .bannerImage img.mainBanner{
	width: 80%;
    height: 40%;
    display: block;
    margin: 0 auto;
    
 }
 .bannerSelection{
 	    width: 785px;
	    height: 55px;
	    position: absolute;
	    overflow-x: hidden;
	    /*background-color: #fff;*/
	    color: #ffffff;
	    background-color: transparent;
	    opacity: 0.9;
	    text-align: center;
	    text-align: center;
	    padding-top: 6px;
	    font-size: 30px;
	    border-radius: 3px;

 }

 .bannerSelection span{
 	display: block;
 }

 blockquote{
 	    padding: 10px 20px;
	    margin: 0 0 20px;
	    font-size: 16.5px;
	    border-left: 5px solid #B3D043;
	    background-color: #EDEDED;
	    opacity: 0.7;
	    border-top-right-radius: 5px;
	    border-bottom-right-radius: 5px;
 }
 .bottomButtons{
	width: 200px;
	text-align:center;
	margin: 0 auto;
	margin-bottom: 10px;

}
.bottomButtons a{
	font-size: 20px;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}
.bottomButtons a:hover{
	color: #BCCF00;
}
.bottomButtons span{
	color: #fff;
	width: 20px;
	text-align: center;
}
 #buttonSend{
 	text-align: center;
 }
 #buttonSend button{
 	background-color: #BCCF00;
 	color: #fff;
 }
 #buttonSend button:hover{
 	background-color: #6E8196;
 }


 .carousel.chat{
 	width: 100%;
 	margin: 0 auto;
    border-radius: 4px;
    border: solid 1px #cccccc;
    visibility: hidden;
    height: 0px;
 	margin-bottom: 10px;
 	
 } 

 .carousel.chat img{
 	    margin: 0 auto;
 	    width: 100%;
 	    height: auto;
 	    margin-top: 10px;
 	    margin-bottom: 10px;
 	    
 }

  .carousel.contact{
 	width: 100%;
 	margin: 0 auto;
 	border: solid 1px #cccccc;
    border-radius: 4px;
    visibility: hidden;
 	height: 0px;
 	margin-bottom: 40px;
 }

 .carousel.contact img{
 	    margin: 0 auto;
 	    width: 100%;
 	    height: 150px;
 	    margin-top: 10px;
 	    margin-bottom: 10px;
 	    
 }
.categoryGroup{
	width: 95%;
    margin: 0 auto;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 9px;
    /*border: solid 1px #ccc;*/
    overflow-x:hidden;
    max-height: inherit;
    overflow-y: hidden;
}
.categoryGroup:hover{
	overflow-x: hidden;
}
.categoryGroup .subCategoryGroup{
	    width: 800px;
	    margin-top: 0px;
	    margin: 0 auto;
	    text-align: center;
}

.chat.owl-carousel .owl-wrapper{
	height: 270px;
	position: relative;
}
.contact.owl-carousel .owl-wrapper{
	height: 370px;
	position: relative;
}
#content{
	/****with video***/
	background-color: transparent;
	/****normal***/
	/*background: #c5c3c3; 
	background: -moz-linear-gradient(top,  #c5c3c3 0%, #9c9a9a 0%, #b5b3b3 0%, #d2cece 19%, #e8e4e4 60%, #f7f7f7 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c5c3c3), color-stop(0%,#9c9a9a), color-stop(0%,#b5b3b3), color-stop(19%,#d2cece), color-stop(60%,#e8e4e4), color-stop(100%,#f7f7f7)); 
	background: -webkit-linear-gradient(top,  #c5c3c3 0%,#9c9a9a 0%,#b5b3b3 0%,#d2cece 19%,#e8e4e4 60%,#f7f7f7 100%); 
	background: -o-linear-gradient(top,  #c5c3c3 0%,#9c9a9a 0%,#b5b3b3 0%,#d2cece 19%,#e8e4e4 60%,#f7f7f7 100%); 
	background: -ms-linear-gradient(top,  #c5c3c3 0%,#9c9a9a 0%,#b5b3b3 0%,#d2cece 19%,#e8e4e4 60%,#f7f7f7 100%); 
	background: linear-gradient(to bottom,  #c5c3c3 0%,#9c9a9a 0%,#b5b3b3 0%,#d2cece 19%,#e8e4e4 60%,#f7f7f7 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5c3c3', endColorstr='#f7f7f7',GradientType=0 ); */
	padding-bottom: 15px;
}
.container-fluid{
	width: 861px;
}
.description{
	width: 30%;
}
.description img{
	margin-bottom: 7px;
}

.footer{
	position: relative;
    bottom: 0px;
    background-color: #323F48;
    height: 50px;
    margin-top: 20px;
    text-align: center;
    padding-top: 15px;
    color: #fff;
    border-radius: 4px;
}
.footer.thankPage{
	 position: absolute;
    bottom: 0px;
    text-align: center;
    padding-top: 15px;
    color: #fff;
    border-radius: 4px;
}

form .information{
	line-height: 13px;
    margin-bottom: 15px;
}
form .information span{
	color: #333;
	font-size: 11px;
}
form .information #terms1{
	color: #337ab7;
	cursor: pointer;
}
form .information #terms2{
	color: #337ab7;
	cursor: pointer;
}

.form-group label{
	color: #fff;
}
.gallery-cell{
	width: 200px;
	position: relative;
	height: 100%;
	line-height: 231px;
}
.contact .gallery-cell{
	width: 190px;
	position: relative;
	height: 100%;
	line-height: 231px;
}
.gallery-cell:hover{
	cursor: pointer;
}

.indexblocks .desktopBannerImage{
	display: block;
	margin: 0 auto;
}

.indexblocks .mobileBannerImage{
	display: none;
	margin: 0 auto;
}

.jumbotron{
	background-color: #B3D334;
}
.gallery-cell.is-selected img{
	border: solid 3px #61F4F8;
}
.menuUnclick{
	color: #fff !important;
    padding: 15px;
        display: block;
    position: relative;
}

.icon.icon-btn.bounce{
	background-color: #1F1F1F;
    display: inline-block;
    color: #FFF;
    font-family: 'icomoon';
    speak: none;
    font-weight: normal;
    line-height: 1;
    left: 96%;
    margin-top: 45px;
    margin-left: -25px;
    height: 30px;
    width: 50px;
    -webkit-animation: bounce 1s infinite;
    position: absolute;
}

@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}
}

.lan{
	display: inline-block;
	color: white;
	cursor: pointer;
}

.logo{
	padding-top: 0px;
	margin-right: 50px;
}
.logo img{
	width: 50px;
    height: 50px;
}	


.menuBottom.btn{
	-webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 12px #666666;
  -moz-box-shadow: 2px 2px 12px #666666;
  box-shadow: 2px 2px 12px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #BCCF00;
  /*padding: 20px 20px 20px 20px;*/	
  text-decoration: none;
  
}
.menuBottom.btn:hover{
	background: #6E8196;
  text-decoration: none;

}

.menuCategory{
	width: 150px;
    height: 53px;
    font-size: 130%;
    margin: 2px;
}

.menuCategory.btn{
	 background: #b9ce00;
  background-image: -webkit-linear-gradient(top, #b9ce00, #C6D600);
  background-image: -moz-linear-gradient(top, #b9ce00, #C6D600);
  background-image: -ms-linear-gradient(top, #b9ce00, #C6D600);
  background-image: -o-linear-gradient(top, #b9ce00, #C6D600);
  background-image: linear-gradient(to bottom, #b9ce00, #C6D600);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  text-shadow: 2px 2px 8px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  /*padding: 10px 20px 10px 20px;*/
  text-decoration: none;
  text-transform: uppercase;
  visibility: hidden;
}

.menuCategory.btn.active{
	background: #c6c6c6;
  background-image: -webkit-linear-gradient(top, #c6c6c6, #D0D0D0);
  background-image: -moz-linear-gradient(top, #c6c6c6, #D0D0D0);
  background-image: -ms-linear-gradient(top, #c6c6c6, #D0D0D0);
  background-image: -o-linear-gradient(top, #c6c6c6, #D0D0D0);
  background-image: linear-gradient(to bottom, #c6c6c6, #D0D0D0);
  text-decoration: none;
}

.menuCategory.btn:hover{
	background: #c6c6c6;
  background-image: -webkit-linear-gradient(top, #c6c6c6, #D0D0D0);
  background-image: -moz-linear-gradient(top, #c6c6c6, #D0D0D0);
  background-image: -ms-linear-gradient(top, #c6c6c6, #D0D0D0);
  background-image: -o-linear-gradient(top, #c6c6c6, #D0D0D0);
  background-image: linear-gradient(to bottom, #c6c6c6, #D0D0D0);
  text-decoration: none;
}

.menuCategory.btn a{
	color: #fff;
    text-decoration: none;
}

.modal-internTitles{
	text-align: center;
	margin-bottom: 10px;
    /*border-bottom: solid 1px #ccc;*/

}

.modal-footer{
	text-align: center;
}
.modal-body form .sales{
	color: #474747;
}
.modal-title{
	text-align: center;
	  background-color: #323F48;
    color: #fff;
    width: 30%;
    margin: 0 auto;
    border-radius: 5px;

}

/*Start top menu*/
.nav-tabs.nav-justified{
	font-size: 20px;
}
.nav-tabs.nav-justified>.active>a{
	background-color: #F0F0F0;
}

/*End top menu*/

/*carousel buttons*/
.owl-theme .owl-controls .owl-buttons div{

	    position: absolute;
}

.owl-theme .owl-controls .owl-buttons .owl-prev{

	top: 45%;
	left: -45px;
}
.owl-theme .owl-controls .owl-buttons .owl-next{

	top: 45%;
	right: -45px;
}
.owl-theme .owl-controls .owl-buttons div:hover{
	opacity: 1;
}

.owl-item{
	height: 100%;
	position: relative;
}

.owl-wrapper-outer{
	display: none;
}

 .selection{
 	width: 40px;
    border-radius: 20px;
    background-color: transparent;
    color: #fff;
    border-color: transparent;
    bottom: 5px;
    position: relative;
	margin-left: 80px;
	display: inherit;
 }
  .selection.selectionSelected{
 	
    background-color: #BBCF00;;
    color: #000;
    border-color: transparent;
 }

.slick-initialized .slick-slide{
	margin-top: 20px;
}
.space{
	margin-top: 20px;
	margin-bottom: 10px;
}
.standardChoice{
	margin-top: 10px;
	
}

.sumarytemplate{
	width: 200px;
	display: inline-block;
	margin: 6px;
	height: 436p
}
#sumaryclose{
	display: none;
	background: url("images/close.png");
    width: 12px;
    height: 12px;
    background-color: transparent;
    z-index: 10000;
    position: relative;
    cursor: pointer;
    left: 100%;
}


.teaser-video{
	    height: 340px;
    width: 600px;
	display: block;
    margin: auto;
    border-radius: 12px;
}
.termConditions{
	width: 50%;
	margin: 0 auto;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #fff;
}
.termConditions a{
	
	color: #fff;
	text-decoration: underline;
}
#termConditionCheck{
	margin-top: 10px;
	margin-right: 6px;
}

#testbutton{
	visibility: hidden;
	text-align: center;
}

#thankyou{
	    margin: 0 0 10px;
	    font-size: 40px;
	    text-align: center;
	    margin-top: 15%;
}
.thanksImage{
	    
	    width: auto;
	    margin-top: 80px;
	       text-align: center;

}
.thanksImage img{
		vertical-align: middle;
	    height: 250px;
    	width: 360px;
}
#thanksPage{
	background-color: #fff;
	min-height: 100%;
    margin-bottom: -70px;
    padding-bottom: 50px;
	
}
.topBarmenu{
	margin-top: 20px;
	background-color: #323F48;
}
.topNavOptions li a{
	color: #fff !important;
}
.topNavOptions li.active a{
	color: #555 !important;
}
.topNavOptions li.active span{
	background-color: #e7e7e7 !important;
	color: #555 !important;
	}
.indexblocks{
	
	padding: 10px;
	color: #fff;
}
.indexblocks div{
	display: inline-block;
}

#veChatView{
	/*background-image: url(images/index/vePromptBackground.jpg);*/
	background-color: #186C81;
	min-height: 100%;
    margin-bottom: -70px;
    padding-bottom: 50px;
}
#veContactView{
	/*background-image: url(images/index/veContactBackground.jpg);*/
	background-color: #186C81;
	min-height: 100%;
    margin-bottom: -70px;
    padding-bottom: 50px;
}
#contactUsView{
	/*background-image: url(images/index/veIndexBackground.jpg);*/
	background-color: #186C81;
	min-height: 100%;
    margin-bottom: -70px;
    padding-bottom: 50px;
}
#veindexView{
	/*background-image: url(images/index/veIndexBackground.jpg);*/
	background-color: #186C81;
	min-height: 100%;
    margin-bottom: -70px;
        padding-bottom: 50px;
}

.player .controls{
	display: none;
}

@media (max-width: 768px) {
	body{
		background: transparent;
	}
	.bannerImage img.banner{
		display: block;
		margin: 0 auto;
		height: 200px;
	}
	.bannerImage img.mainBanner{
		display: none;
		
	}
	 .bannerSelection{
 	    display: none;

 }
	blockquote{
		font-size: 10px;
	}
   
	.categoryGroup{
	   overflow-x: auto;
	}	
	.categoryGroup .subCategoryGroup{
		width: 95%;
	}
	.carousel.contact{
		width: 75% !important;
	}
	.carousel.chat{
		width: 75% !important;
	}
	.carousel.chat img{
		width: 200px;
		height: 135px;
		
	}
	.container-fluid{
	width: 100%;
	}
	
	.description{
	width: 100%;
	}
	.footer{
		background-color: transparent;
	}
	.descriptionImage img{
		width: 100%;
	}
	
	.hiddenPage{
		visibility: visible;
	}
	.indexblocks .desktopBannerImage{
	display: none;
	
	}

	.indexblocks .mobileBannerImage{
		display: block;
		width: 250px;

	}
	.menuCategory{
	    background-color: #B3D334;
	    margin: 2px;
	    width: auto;
	    height: auto;
	}
	.menuCategory.btn{
		padding: 5px;	
		font-size: 12px;
		visibility: visible;
	}

	.slick-initialized .slick-slide{
	margin-top: 8px;
	}
	.teaser-video{
		height: 195px;
		display: none;
	}

	
	
}

@media (max-width: 325px) {

	.carousel.chat img{
		margin-left: 65%;
	}
	.carousel.contact img {
		margin-left: 75%;
	}
	.hiddenPage{
		visibility: visible;
	}
	.thanksImage img{
		vertical-align: middle;
	    height: auto;
    	width: 290px;
	}
	.sumarytemplate{
		height: auto;
	}
}

@media (max-width: 375px) {

	.carousel.chat img{
		margin-left: 9px;

	}
	.carousel.contact img {
		margin-left: 12px;
	}
	.selection{
	    margin-left: 92px;
	}
	.hiddenPage{
		visibility: visible;
	}
	.thanksImage img{
		vertical-align: middle;
	    height: auto;
    	width: 290px;
	}
}





/******ANIMATION******/
@keyframes changeColor{
	from {background-color: #B3D334;color: #fff;}
    to {background-color: #fff; color: #091D2A;}
}